<!DOCTYPE html>
<html>
    <head>
        <title>Informações do meu Pai</title>
    </head>
    <body>
        <h1>Relação: Mãe</h1>
        <h2>Nome: {{nome}}</h2>
        <h2>Idade: {{idade}}</h2>

        <!--Escreva o link correto para a fonte da imagem no lugar de #. As imagens estão armazenadas na
            pasta static. Se você não gostar dessas imagens, você pode usar as suas próprias imagens-->
        <img src = "#" alt = "Consulte a imagem da sua mãe armazenada na pasta Static" width = "200"/>
    </body>
</html>